<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>单例模版</string>
	<string>DateFormatter</string>
	<string>Dispatch_Group</string>
	<string>设计模式</string>
	<string>控制器多引用解耦</string>
	<string>单控制器多任务解耦</string>
	<string>点单</string>
	<string>自定义按钮</string>
	<string>渐变色</string>
	<string>绘画</string>
	<string>图片缓存池</string>
	<string>循环遍历</string>
	<string>多模型嵌套</string>
	<string>导航条</string>
	<string>列表编辑</string>
	<string>延时开关</string>
	<string>响应链</string>
	<string>本地通知</string>
	<string>混合编程</string>
	<string>StoryBoard</string>
	<string>镂空效果</string>
</array>
</plist>
